*{
    overflow: auto;
}
body{
    font-family: 'Fira Sans', sans-serif;
    background: #000000;
    color: #000000;
    box-sizing: border-box;
    
}
.container{
    background: #8d8d8d;
    width: 80%;
    max-width: 1000px;
    margin: 10px auto;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    color: #1565c0;
}

h2{
    font-family: 'Coda', cursive;
    color: #1565c0;
    
}

nav{
    text-align: center;
    line-height: 3;
}

nav a, .button{
    padding: 10px 20px;
    margin-left: 20px;
    color: black;
    background:white;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover, .button:hover{
    color: black;
    background: #ffffcf;
    
}

nav a:visited, .button:visited{
    background: white;
    border: white;
}
img{
    background: gold;
    border: 2px solid gold;
}
#mexico{
    width: 30%;
    
    float: left;
}
#japan{
    width: 30%;

    float: left;
}
#finland{
    width: 30%;

    float: left;
}
#turku{
    width: 100%;

    float: right;
}
#tokyo{
    width: 100%;

    float: right;
}
#guadalajara{
    width: 100%;

    float: right;
}
aside{
    clear: both;
    float: right;
    width: 30%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    overflow: auto;
    border: 2px solid gold;
    margin-right: 10px;
}

header, footer{
    clear: both;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    
}

main{
    box-sizing: border-box;
    padding: 20px;
}